@model FP.ViewModel.HomeViewModel
@using FP.Infrastucture

@{
    ViewBag.Title = "Index";
}

<h2>Nowości</h2>

<ul>
    @foreach (var naSprzedarz in Model.Najdrozsi)
    {
        <li>
            <a href="@Url.Action("Pokaz","Pilkarz",new { nazwisko = naSprzedarz.Nazwisko,imie = naSprzedarz.Imie })">@naSprzedarz.Imie - @naSprzedarz.Nazwisko</a>
            <img src="@Url.ZdjeciaSciezka(naSprzedarz.Zdjecie)"/>
        </li>
    }
</ul>

<br/>
<ul>
    @foreach (var Druzyna in Model.DruzynyChcaceKupic)
    {
        <li>
            <a href="@Url.Action("Kupno","Druzyna",new { nazwa = Druzyna.Nazwa })">@Druzyna.Nazwa</a>
            <img src="@Url.GodloSciezka(Druzyna.NazwaObrazkuGodla)"/>
        </li>
    }
</ul>